.header {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: blanchedalmond;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container h1 {
  padding-left: 10px;
  font-size: 50px;
}
.logo {
  width: 150px;
  height: auto;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul {
  display: flex;
  list-style-type: none;
}
.navbar ul li {
  padding: 5px;
  cursor: pointer;
  font-size: 24px;
  height: auto;
}
.navbar ul li:hover {
  border: 1px solid rgb(242, 154, 39);
}
.body {
  padding: 5px;
  background-color: rgb(244, 211, 166);
}
.filter-res {
  display: flex;
  padding: 10px;
}
.res-container h1 {
  padding: 10px;
}
.res-list {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  width: 220px;
  height: 500px;
  background-color: antiquewhite;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}
.shimmerCard {
  width: 220px;
  height: 400px;
  background-color: antiquewhite;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid burlywood;
}
.res-card:hover {
  border: 1px solid burlywood;
  cursor: pointer;
}
.res-image {
  width: 220px;
  height: 220px;
}
h3,
h5 {
  padding-left: 5px;
}
.Search-button {
  margin-top: 10px;
  cursor: pointer;
}
.filter-button {
  margin: 10px;
  cursor: pointer;
}
.login {
  cursor: pointer;
  font-size: 20px;
  border: none;
  background-color: blanchedalmond;
  padding: 5px;
}
.login:hover {
  border: 1px solid rgb(242, 154, 39);
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
